/* Variables */

$black: #010000;
$white: #ffff;
$lightGrey: #e6e6e6;
$darkGrey: #333333;
$red: #ff1755;
$lightPink: #f7bac9;
$pink: #ff6d95;
$yellow: #f9f6bd;
$font-family: 'Montserrat';
$font-light-weight: 200;
$font-size-nornal: 14px;
$font-size-medium: 30px;
$font-size-large: 45px;
$font-size-extra-large: 54px;


/* Mixins */
