@import "config.scss";

html,
body {
  /* Center and scale the image nicely */
  height: 100vh;
  margin: 0;
  position: relative;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #0099F7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* HEADER */
header {
  padding: 9% 0;

  h1 {
    color: $white;
    font-size: $font-size-medium;

    small {
      display: block;
      font-size: $font-size-nornal;
    }
  }
}

/* CARD */
.card {
  background-color: rgba(0,0,0,0.5) !important;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  padding: 15px;
}

/* FORM */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  color: $white;
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

input[type=password], input[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;

  &:focus{
    background-color: transparent;
    outline: none;
    box-shadow: none !important;
    border-bottom: 1px solid $yello-orange !important;
    }
}

.submit {
  background: $yello-orange;
  border:2px solid $yello-orange;
  color: $lightGrey;
  // margin: 9% 0;
  width: 100%;
  position:relative;

  @include transition(all 0.5s ease);
}

.hover-effect {
	border-color:$yello-orange;
	overflow:hidden;

	.insider {
		background-color:$white;
		width:100%;
		height:20px;
		position:absolute;
		left: -347px;

		@include transform(rotateZ(45deg));
	}

	&:hover {
		background-color: $yello-orange;
		border-color: $white;
		color: $white;

		.insider {
			@include transition(all 0.3s ease);
			left: 344px;
		}
	}
}

.footer-font {
  color: $white;
  font-size: $font-size-small;

   a {
     color: $yello-orange;
   }
}

/* MEDIA QUERY */
@media only screen and (min-width: 1200px) {
  .form-size {
    min-width: 392px;
  }
}

@media only screen and (min-width: 768px) {
  .form-size {
    min-width: 392px;
  }
}

@media only screen and (orientation: landscape) {
  .form-size {
    width: 100%;
  }
}
