@import "config.scss";

/* Variables */
/* COLORS */
$grey: #554d56;
$yello-orange:#fdbd39;

/* FONT SIZES */
$font-size-nornal: 14px;
$font-size-medium: 30px;
$font-size-large: 45px;
$font-size-extra-large: 54px;

/* HEADER */
header {
  padding-top: 20%;

  h1 {
    color: $grey;
    font-size: $font-size-medium;
  }
}

/* FORM */
input[type=password], input[type=email] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.inputLabel {
    position: absolute;
    left: 0;
    top: 8px;
    opacity: 0;
    font-size: 18px;
    color: var(--gandalf);
    transform-origin: left top;
    transition: color 200ms ease, transform 200ms ease;
    will-change: transform;
    pointer-events: none;
}

.submit {
  background-color: $yello-orange;
  border: none;
  width: 100%;
}
