@import "config.scss";

/* Variables */
/* COLORS */
$grey: #554d56;

/* FONT SIZES */
$font-size-nornal: 14px;
$font-size-medium: 30px;
$font-size-large: 45px;
$font-size-extra-large: 54px;

/* HEADER */

header {
  padding-top: 20%;

  h1 {
    color: $grey;
    font-size: $font-size-medium;
  }
}

.container-wrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .container-body {
    margin: 0 auto;
  }

  #loginForm {
    position: relative;
    max-width: 392px;
    width: 100%;
    margin: 12px auto 0;
  }
}
